* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: rgb(49, 44, 44);
}

.bienbenida{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    background-color: rgb(49, 44, 44);
}

h1 {
    color: aliceblue;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;

}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.experiencia {
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: aliceblue;
}

.tecnologias {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    color: aliceblue;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
}

.mostrar-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li.li-lenguaje{
    padding: 8px;
    background-color: aliceblue;
    border-radius: 24px;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: flex-start;
    padding: 0;
}

.proyectos {
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: aliceblue;
}

.enlaces {
    display: flex;
    text-align: center;
    color: aliceblue;
    gap: 8px;
}

.img-pokecartas{
    border-radius: 24px;
    width: 200px;
}

a{
    display: flex;
    padding: 6px;
    background-color: aliceblue;
    color: black;
    border-radius: 24px;
    align-items: center;
}
.logo-linkedin{
    width: 30px;
    padding:6px;
}

.logo-github{
    width: 30px;
    padding: 6px;
}