* {
    box-sizing: border-box;
}

.timeline {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    li {
        display: flex;
        align-items: center;
        position: relative;
        gap: 12px;
        width: 100%;

        .checkmark {
            z-index: 2;
            border: 2px solid;
            border-radius: 50%;
            width: 24px;
            height: 24px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                border-radius: 50%;

            }
        }

        .line-container {
            /* // border: 1px solid black; */
            display: flex;
            /* // align-items: stretch; */
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            bottom: -16px;
            z-index: 1;

            .line {
                width: 1px;
                background-color: #FFF;
            }
        }

        .text-container {
            margin-left: 12px;
            padding: 12px;
            background-color: white;
            text-align: left;
            border-radius: 8px;
            width: 100%;

            .date {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                line-height: 1.4;

            }

            .text {

                font-weight: 500;
            }

        }


        &.unchecked {
            .checkmark {
                border-color: rgba(255, 255, 255, 0.3);
                background-color: green;

                span {
                    &>* {
                        display: none;
                    }
                }
            }



        }

    }

}